/** setup html, body and main **/
html, body {
	font-family: verdana, sans-serif;
	color: #222;
}
main {
	width: 100%;
	min-height:calc(100% - 100px);
	background-color:#EEE;
}
/** headers **/
h2 {
	margin-bottom: 1rem;
}
h4 {
	text-decoration: underline;
}
/** blog - white borders - and posts**/
.blog {
	box-sizing:border-box;
	width:1000px;
	padding: 50px 4rem; /** account for navbar **/
	margin: 0 auto;
	background-color:white;
}
.post {
	padding-bottom: 1rem;
}
.post:not(.tableOfContents) {
	border-top: 2px solid lightgray;
}
/** blog content **/
main img {
	max-width:800px;
	max-height:540px;
	width:auto;
	height:auto;
	margin: 1rem 0;
}
main a {
	color:#3380B3;
	text-decoration:none;
	font-weight:bold;
}
main button {
	margin: 0 4px;
	user-select: none;
}
.titleCard {
	text-align:center;
}
.tableOfContents ul {
	list-style-type: none;
	padding-left:1.5rem;
}
.tableOfContents li a {
	font-weight:normal;
	text-decoration: none;
}
canvas {
	width:auto;
	height:auto;
	max-width:640px;
	max-height:480px;
	outline:1px solid lightgray;
}
/** alignment, subtitles and jump anchors **/
.center {
	text-align:center;
}
.subtitle {
	color: gray;
	font-style: italic;
	font-size: 0.8rem;
}
.jump {
	visibility: hidden;
	position: relative;
	bottom:2rem;
}
/** low-light mode buttons **/
.lights {
	cursor:pointer;
	margin-left:1.5rem;
	color:white;
	background-color: #2c9c91;
	border-right: 3px solid #26867c;
	border-bottom: 3px solid #26867c;
	border-left: 3px solid #33b3a6;
	border-top: 3px solid #33b3a6;
}
.blog .lights {
	font-size:20px;
	border-right: 5px solid #26867c;
	border-bottom: 5px solid #26867c;
	border-left: 5px solid #33b3a6;
	border-top: 5px solid #33b3a6;
}
.lights:active {
	background-color: #26867c;
	border-left: 3px solid #2c9c91;
	border-top: 3px solid #2c9c91;
}
.blog .lights:active {
	border-left: 5px solid #2c9c91;
	border-top: 5px solid #2c9c91;
}
.lights:focus {
	outline:0;
}
.lightBorder {
	border: 1px solid lightgray;
}

/** MEDIA QUERIES **/
/** blog, images and canvas shrink according to screen size **/

/** Sub-desktop **/
@media only screen and (max-width: 1100px) and (min-width:800px)
{
	.blog {
		width:720px;
		padding: 2rem;
	}
	main img, canvas  {
		max-width:540px;
		max-height:540px;
	}
}

/** Tablet **/
@media only screen and (max-width:800px) and (min-width:600px)
{
	.blog {
		width:540px;
		padding: 2rem;
	}
	main img, canvas  {
		max-width:450px;
		max-height:450px;
	}
}

/** Phone & Tablet **/
@media only screen and (max-width: 600px)
{
	.blog {
		width:100%; /** blog takes up whole screen - no gray borders **/
		margin:0;
		padding: 1rem;
		padding-top: 3rem;
	}
	html {
		font-size: 0.875rem;
	}
	main img, canvas  {
		max-width:360px;
		max-height:360px;
	}
}

/** Phone **/
@media only screen and (max-width:480px)
{
	main img, canvas {
		max-width:350px;
		max-height:350px;
	}
}
/** Phone - small **/
@media only screen and (max-width:400px)
{
	main img, canvas {
		max-width:250px;
		max-height:250px;
	}
}