/** main and grid setup **/
main {
	font-family: verdana, sans-serif;
	color:#daf1ee; /** #ecf8f6 also good **/
	min-height:100%;
	padding-top: 50px; /** margin for navbar **/
	background-color: #111;
}
main, .grid, .gridItem, .imageContainer, .textContainer {
	box-sizing: border-box;
}
.banner {
	color:white;
	margin: 0 25%;
	margin-top:30px;
	text-align:center;
}
.banner img {
	width:70%;
}
.grid {
	width:100%;
	padding:50px 5%;
	display:grid;
	grid-template-columns: repeat(3,360px); /** 3-column grid **/
	grid-template-rows: calc(360px + 7.5rem); /** image fixed 360px and 7.5rem text container **/
	grid-auto-rows: calc(360px + 7.5rem);
	grid-row-gap: 50px;
	justify-content:space-around;
	background-color: #111;	/** #081720 is also good **/
	min-height:100%;
}

/** GRID ITEMS **/
.gridItem {
	position: relative;
	z-index: 0;
	height:100%;
	width:100%;
	background-color: black;
	box-shadow: 0 0 30px 1px #000;
}
/** images **/
.imageContainer {
	position:relative;
	display: flex;
	height:360px;
	width:360px;
}
.imageContainer img,.imageContainer video,.imageContainer audio {
	max-height:100%;
	max-width:100%;
	margin:auto;
}
.gridItem a {
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	z-index:1;
}
.textContainer {
	height: 7.5rem; /** 7.5rem for the text container **/
	padding:0.5rem;
	overflow:auto;
	border-top:none;
	background-color: #47baae;
}
/** text **/
.textContainer h3 {
	color: #ecf8f6;
	margin:0;
	margin-bottom: 0.5rem;
}
.textContainer a {
	text-decoration: none;
}
/** MEDIA QUERIES **/
/** small Desktop **/
@media only screen and (max-width:1280px)
{
	.grid {
		grid-template-columns: repeat(2,360px); /** 2-column grid **/
	}
}
/** Tablet **/
@media only screen and (max-width:860px)
{
	main {
		font-size:14px;
	}
}
/** Tablet & large Phone in Portrait **/
@media only screen and (max-width:860px) and (min-width:421px) and (orientation:portrait)
{
	.banner {
		margin:0 10%;
		margin-top:40px;
	}
	.banner img {
		width:80%;
	}
	.grid {
		grid-template-columns: 360px; /** 1-column grid **/
	}
}

/** Tablet & large Phone in Landscape **/
@media only screen and (max-width:860px) and (min-width:421px) and (orientation:landscape), (max-height:500px) and (orientation:landscape)
{
	.banner {
		margin:0 10%;
		margin-top:40px;
	}
	.banner img {
		width:70%;
	}
	.grid {
		grid-template-columns: 400px; /** 1-column grid **/
		grid-template-rows: calc(225px + 6rem);
		grid-auto-rows: calc(225px + 6rem);
	}
	.imageContainer {
		height:225px;
		width:400px;
	}
	.textContainer {
		height:6rem;
	}
	.imageContainer img,.imageContainer video,.imageContainer audio {
		max-height:225px;
		max-width:400px; /** set to column width to revalidate image **/
	}
}
/** small Phone and below **/
@media only screen and (max-width:420px)
{
	.banner {
		margin: 0 5%;
		margin-top:30px;
	}
	.banner img {
		width:90%;
	}
	.grid {
		padding:50px 0;
		grid-template-columns: 100%; /** 1-column grid, screen-width **/
		grid-template-rows: calc(95vw + 7.5rem);  /** 95vw chosen to account for scrollbar **/
		grid-auto-rows: calc(95vw + 7.5rem);  /** 95vw chosen to account for scrollbar **/
	}
	.gridItem {
		background-color: #000;
	}
	.imageContainer {
		height:95vw; /** 95vw chosen to account for scrollbar **/
		width:100%;
		overflow:hidden;
	}
	.imageContainer img,.imageContainer video,.imageContainer audio {
		align-self:center;
		max-width:calc(100% + 5px); /** slight margin for overflow to fill screen **/
		max-height:calc(100% + 5px); /** slight margin for overflow to fill container**/
	}
}