/** Initial setup and colours **/
html, body {
	box-sizing:border-box;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
nav {
	font-size: 16px;
	position:fixed;
	z-index:5;
	width:100%;
}
nav a, nav h1, nav {
	color: white;
	font-family: verdana, sans-serif;
	text-decoration: none;
}
nav h1, nav a {
	font-size: 24px;
}
.couchLogo {
	width: 24px;
	height: 24px;
}
#dropToc a {
	font-size:16px;
}
nav h1, nav ul, .navForeground li, #hamburger2 {
	margin: 0;
	display:inline-block;
}
nav ul {
	padding: 0;
	list-style-type: none;
}
/** main navigation bar **/
.navForeground { 
	position: relative;
	z-index:5;
	width:100%;
	height:50px;
	background-color:#33b3a6;
}
/** navigation to other pages **/
.menuItem { 
	float:right;
	font-size: 24px;
}
.menuItem li {
	float:left;
}
/** display of menu buttons **/
nav h1 a, nav li a, #tocButton, #hamburger, #hamburger2 {
	box-sizing:border-box;
	display:inline-block;
	height:50px;
	padding: 8px 16px;
}
.buttonli {
	height:50px;
	margin-left:1rem;
}
#tocButton, #hamburger, #hamburger2 {
	cursor: pointer;
}
#hamburger, #hamburger2 {
	padding:8px;
}
.select {
	background-color: #2c9c91;
}
.navForeground li, #tocButton {
	transition: background-color 0.4s ease-out;
}

/** FOOTER **/

footer {
	font-family: verdana, sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	display:flex;
	width:100%;
	height:100px;
	padding:16px;
	color: white;
	background-color:#16504a;
	/** border-top: 2px solid #0f3531; **/
}
footer div {
	display:inline-block;
	margin: auto 0;
}
footer .middle {
	text-align:center;
	width: calc(100% / 3);
}
footer .left {
	text-align:left;
	width: calc(100% / 3);
}
footer .right {
	text-align:right;
	margin-left:auto;
}
footer ul {
	display:inline-block;
	margin:auto 0;
	padding:0;
	list-style-type: none;
}
footer li {
	display: inline-block;
	padding:0;
	margin:0 8px;
	float:left;
}
footer img {
	display:block;
	margin:0;
	height:35px;
}
footer a {
	color:white;
}
/** MEDIA QUERIES **/

/** Desktop **/
@media only screen and (min-width: 1000px)
{	
	/** hide hamburger menu on desktop **/
	#hamburger,#hamburger2 {
		display:none;
	}
	/** hover colour for items when in desktop mode **/
	.navForeground li:hover:not(.hamburger2):not(#hamburger) {
		background-color: #2c9c91;
	}
}

/** Phone and Tablet - collapsed menu **/
@media only screen and (max-width: 1000px)
{
	/** appearance of toc **/
	#tocButton {
		padding:8px;
	}
	#dropToc li a {
		padding:10px 30px;
	}
	/** collapsing of navigation to vertical menu **/
	#navButtons {
		position:fixed;
		display:block;
		z-index:10;
		top:0;
		right: -320px;
		height:100%;
		transition: right 0.4s ease-out;
		background-color:#2c9c91;
	}
	/** appearance of navigation li and links **/
	#navButtons li {
		display:block;
		float: none;
		border-bottom: 1px solid #26867c;
	}
	#navButtons a {
		text-align:center;
		box-sizing: border-box;
		padding: 10px 80px;
	}
	/** change hover colours (one shade darker) **/
	#tocButton:hover {
		background-color: #2c9c91;
	}
	#navButtons li:hover:not(.hamburger2)  {
		background-color:#26867c;
	}
	/** appearance of menu hamburger **/
	.hamburger2 {
		text-align:right;
	}
}
/** Phone and Tabelt expanded footer **/
@media only screen and (max-width:750px) {
	footer {
		height:200px;
		display:inline-block;
	}
	footer div {
		display:block;
		float:none;
		padding: 16px 0;
	}
	footer .left {
		text-align:center;
		width:100%;
		padding-top:8px;
	}
	footer .middle {
		text-align:center;
		width:100%;
	}
	
	footer .right {
		text-align:center;
	}
	.socialMedia {
		width:100%;
		padding: 0;
		text-align:center;
	}
}
/** dark screen when hamburger menu opens **/
#screen {
	visibility:hidden;
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	opacity:0;	
	transition: 0.4s ease-out;
	background-color:black;
}
/** DROP-DOWN TABLE OF CONTENTS (WHERE APPLICABLE) **/
#dropToc {
	position:fixed;
	z-index:0;
	background-color:#2c9c91;
	right: 0px;
	/** top and transition in gallery is set inline **/
	top: -350px;
	transition: top 0.5s ease-out;
}
#dropToc:hover {
	background-color: #2c9c91;
}
#dropToc li a{
	height: auto;
	padding:10px 50px;
}
#dropToc li:hover:not(.buttonli) {
	background-color: #26867c;
}
#arrow {
	font-size: 16px;
}
.buttonli {
	display:flex;
}
.buttonli .lights {
	margin:auto 2rem;
}
/** Phone **/
@media only screen and (max-width: 480px) {
	nav h1 a, #tocButton {
		padding: 16px 4px;
		font-size: 16px;
	}
	.couchLogo {
		height:16px;
		width:16px;
	}
	#dropToc li a{
		padding: 10px 30px;
	}
}
/** Small Phones **/
@media only screen and (max-width: 320px) {
	.specialCouch {
		height:14px;
		width:14px;
	}
	#arrow {
		font-size:14px;
	}
}