main {
	font-family: verdana, sans-serif;
	color:#daf1ee; /** #ecf8f6 also good **/
	min-height:100%;
	padding-top: 50px; /** margin for navbar **/
	background-color: #111;
}
main, .grid, .gridItem, .imageContainer, .textContainer {
	box-sizing: border-box;
}
.banner {
	padding-top:50px;
	text-align:center;
}
.banner img {
	width:40%;
}
.grid {
	width:100%;
	padding:50px 5%;
	display:grid;
	grid-template-columns: repeat(3,360px); /** 3-column grid **/
	grid-template-rows: calc(360px + 7.5rem);
	grid-auto-rows: calc(360px + 7.5rem);
	grid-row-gap: 50px;
	justify-content:space-around;
	background-color: #111;	/** #081720 is also good **/
	min-height:100%;
}

/** GRID ITEMS **/
.gridItem {
	position: relative;
	z-index: 0;
	height:100%;
	width:100%;
	background-color: black;
}
/** images **/
.imageContainer {
	position:relative;
	display: flex;
	height:360px;
	width:360px;
	border: 1.5px solid #2c9c91; /** 1.5px used to prevent visual glitches at <1px level **/
	cursor: pointer;
}
.imageContainer img,.imageContainer video,.imageContainer audio {
	max-height:100%;
	max-width:100%;
	margin:auto;
}
.imageContainer a {
	position:absolute;
	display:block;
	width:100%;
	height:100%;
}
.textContainer {
	height: 7.5rem; /** 7.5rem for the text container **/
	padding:0.5rem;
	overflow:auto;
	border: 1px solid #2c9c91;
	border-top:none;
	background-color: #47baae;
}
/** text **/
.textContainer h3 {
	color: #ecf8f6;
	margin:0;
	margin-bottom: 0.5rem;
}
.textContainer a {
	text-decoration: none;
}
/** OPACITY REMOVED **/
@media only screen and (max-width:1280px)
{
	.grid {
		grid-template-columns: repeat(2,360px); /** 2-column grid **/
	}
}
@media only screen and (max-width:860px)
{
	main {
		font-size:14px;
	}
	
}
/** MEDIA QUERIES **/
/** Tablet & large Phone in Portrait **/
@media only screen and (max-width:860px) and (min-width:421px) and (orientation:portrait)
{
	.banner img {
		width:60%;
	}
	.grid {
		grid-template-columns: 360px; /** 1-column grid **/
	}
}

/** Tablet & large Phone in Landscape **/
@media only screen and (max-width:860px) and (min-width:421px) and (orientation:landscape), (max-height:500px) and (orientation:landscape)
{
	.grid {
		grid-template-columns: 400px; /** 1-column grid **/
		grid-template-rows: calc(225px + 4.7rem);
		grid-auto-rows: calc(225px + 4.7rem);
	}
	.imageContainer {
		height:225px;
		width:400px;
	}
	.textContainer {
		height:4.7rem;
	}
	.imageContainer img,.imageContainer video,.imageContainer audio {
		max-height:222px;
		max-width:397px; /** set to column width to revalidate image **/
	}
}
/** small Phone and below **/
@media only screen and (max-width:420px)
{
	.banner img {
		width:70%;
	}
	.grid {
		padding:50px 0;
		grid-template-columns: 100%; /** 1-column grid, screen-width **/
		grid-template-rows: calc(95vw + 7.5rem);  /** 95vw chosen to account for scrollbar **/
		grid-auto-rows: calc(95vw + 7.5rem);  /** 95vw chosen to account for scrollbar **/
	}
	.gridItem {
		background-color: #2c9c91;
	}
	.imageContainer {
		height:95vw; /** 95vw chosen to account for scrollbar **/
		width:100%;
	}
	.imageContainer img,.imageContainer video,.imageContainer audio {
		max-width:100%;
		max-height:100%;
	}
}